.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup {
    background-color: #c6e2b2;
    padding: 24px;
    border-radius: 12px;
    width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
  }

  .popupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .closeButton {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .voucherCard {
    display: flex;
    align-items: center;
    background-color: #fdfae7;
    border-radius: 12px;
    width: 400px;
    height: 100px;
    padding: 16px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  .giftCard {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* Add dashed dividing line */
    border-right: 2px dashed #999;
    height: 80px; 
    box-sizing: border-box;
  }
  
  .info {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-weight: bold;
    margin: 5px;
  }
  
  .store {
    color: #5a5a5a;
    margin: 5px;
  }
  
  .points {
    font-size: 0.9rem;
    color: #999;
  }
  
  .redeemButton {
    background-color: #2f4f4f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .redeemInfo {
    text-align: left;
    margin: 0 20px;
  }

  .detailsTitle{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .storeName{
    font-weight: bold;
    font-size: 1.2rem;
    color: #2f4f4f;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .giftCert{
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }