.ticket {
    margin: 12px; 
    width: 400px; 
    height: auto;
    background-color: #fdfae7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
  }
  
  /* Left side logo */
  .logoContainer{
    flex: 0 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  
    /* Add dashed dividing line */
    border-right: 2px dashed #999;
    height: 80px; 
    box-sizing: border-box;
    padding-right: 16px;
  }
  
  .logo {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
  }
  
  /* Right side content */
  .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    font-weight: bold;
    color: #2b2b2b;
    margin-bottom: 6px;
    font-size: 1.1rem;
  }
  
  .store {
    color: #5a5a5a;
    font-size: 0.95rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .redeemButton {
    background-color: #2f4f4f;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .points{
    color: grey;
    font-size: 1rem;
  }
  
  .pointsAndButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }