body {
    background-color: #e1eddf;
    display: flex;   
}

header {
    background-color: #2b3f40;

}
.points-container {
    background-color: #fefbea;
}

.voucherGrid {
    width: 100%;
  }
  
.pageContainer {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
  }



.text-points {
    font-size: 48px;
    color: #183b1d;
}

.text-welcome {
    font-weight: bold;
    font-size: 25px;
    color: #183b1d;
}
